<div class="row">
    <div  class="col-6 text-center">
        <img class="mt-5" src="https://tse3.mm.bing.net/th?id=OIP.MObAjj46iU-oBMBR6EoneAHaEZ&pid=Api&P=0" alt="no image">
    </div>
    <div class="col-6">
        <form (ngSubmit)="login()" [formGroup]="loginForm" style="margin-top: 150px ;" class="p-3 border me-3">
            <div class="mb-3">
                <label for="acno">Account Number</label>
                <input  formControlName="acno" name="acno" id="acno" type="text" placeholder="Account Number" class="form-control">
            </div>
            <div class="mb-3">
                <label for="pswd">Password</label>
                <input formControlName="pswd" name="pswd" id="pswd" type="password" placeholder="Password" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button> &nbsp;
                <span>New User ? Click here to <a href="">Register</a> </span>
            </div>

        </form>
    </div>
</div>